<!DOCTYPE html>
<html>
<head>
    <title>{% if form.instance.pk %}Edit Task{% else %}New Task{% endif %}</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        body {
            padding: 20px;
        }
        form {
            max-width: 400px;
            margin: auto;
        }
        button[type="submit"] {
            width: 100%;
        }
    </style>
</head>
<body>
    <h1 class="text-center">{% if form.instance.pk %}Edit Task{% else %}New Task{% endif %}</h1>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-3">Save</button>
    </form>
    <a href="{% url 'task_list' %}" class="d-block text-center mt-3">Back to Task List</a>
</body>
</html>
