<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Borrarlo</title>
</head>
<body>
    <h1>Confirmar Borrarlo</h1>
    <p>Estas seguro de querer borrarlo?"{{ task.title }}"?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit">Borrarlo</button>
    </form>
    <a href="{% url 'task_list' %}">Cancelar</a>
</body>
</html>
