<!DOCTYPE html>
<html>
<head>
    <title>Task List</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1><center>Task List</center></h1>
        <!-- Create Task Form -->
        <form action="{% url 'task_create' %}" method="POST">
            {% csrf_token %}
          
         
            <button type="submit" class="btn btn-primary">Create Task</button>
        </form>

        <hr>

        <!-- Task List -->
        <ul class="list-group">
            {% for task in tasks %}
            <li class="list-group-item">
                <div class="d-flex justify-content-between align-items-center">
                    <span>{{ task.title }}</span>
                    <div>
                        <!-- Update Task Button -->
                        <form action="{% url 'task_update' task.id %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-info btn-sm mr-2">Update</button>
                        </form>
                        <!-- Delete Task Button -->
                        <form action="{% url 'task_delete' task.id %}" method="POST" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <!-- Bootstrap JS (opcional) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
